<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>


{% verbatim myblock %}
    <template id="child1">
        <div>
            {{ auto_value }}
            <el-button @click="child_change">child change</el-button>

        </div>
    </template>



    <div id="app">

        {{ message }}
        <el-button @click="change">parent change</el-button>

        <child_comp @autochange="get_child_vaule" :auto_value="message"></child_comp>

    </div>

{% endverbatim myblock %}

</body>

<script>
    Vue.component("child_comp", {
        props: ["staticvalue", "auto_value"],
        template: "#child1",
        data:function(){
          return{
              message:1
          }
        },
        methods: {
            child_change() {
                this.auto_value += 1
                this.$emit("autochange", this.auto_value)
            }
        }

    });


    var app = new Vue({
        {#delimiters: ["{[", "]}"],#}
        el: '#app',
        data: {
            message: 1,
            auto: 30
        },
        methods: {
            change() {
                this.message += 1
                this.auto += 1
            },
            get_child_vaule(value) {
                this.message=value
            }
        }

    })

</script>

</html>